/* Fonts */

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"),
       url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");  
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto"),
       url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");  
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto"),
       url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");  
}

/* Variables */

:root {
  --black: #000000;
  --red-100: #FB565A;
  --red-300: #E74246;
  --red-500: #D7373B;
  --green-100: #00CA74;
  --green-300: #00BC6C;
  --green-500: #00AA62;
  --yellow-100: #EFC849;
  --yellow-300: #EAB534;
  --yellow-500: #E5A722;
  --grey-100: #EEEEEE;
  --grey-300: #DFDFDF;
  --grey-400: #E1E1E1;
  --grey-500: #D5D5D5;
  --grey-800: #666666;
  --grey-900: #444444;
  --white: #ffffff;
  --white-03: rgba(255,255,255, 0.3);
}

/* Global */

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Global classes */

.hidden {
  display: none;
}

.button {
  background-color: var(--red-100);
  color: var(--white);
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px;
}
.button:hover {
  background-color: var(--red-300);
}
.button:active {
  color: var(--white-03);
  background-color: var(--red-500);
}

.button-green {
  background-color: var(--green-100);
}
.button-green:hover {
  background-color: var(--green-300);
}
.button-green:active {
  background-color: var(--green-500);
}

.button-yellow {
  background-color: var(--yellow-100);
}
.button-yellow:hover {
  background-color: var(--yellow-300);
}
.button-yellow:active{
  background-color: var(--yellow-500);
}
/* Header */

.main-header {
  background-color: var(--grey-100);
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  list-style: none;
}

.site-navigation-link,
.basket-link {
  color: var(--black)
}

.site-navigation {
  list-style: none;
}

.main-header-logo:hover {
  opacity: 0.7;
}

.site-navigation-link:hover,
.basket-link:hover {
  color: var(--red-100);
}

.site-navigation-link:active,
.basket-link:active,
.main-header-logo:active {
  color: inherit;
  opacity: 0.3;
}

/* Slider */

.slide {
  height: 431px;
}

.slide-slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slide-1 {
  background: var(--grey-100) url(/img/slide1.png) no-repeat 400px;
}
.slide-2 {
  background: var(--grey-100) url(/img/slide2.png) no-repeat 400px;
}
.slide-3 {
  background: var(--grey-100) url(/img/slide3.png) no-repeat 400px;
}

/* Services */

.service-caption {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

/* About */

.about-slogan {
  font-size: 45px;
  font-weight: 500;
}

.about-services-text,
.about-description-text {
  text-transform: uppercase;
  font-weight: 700;
}

.about-description-list dt {
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
}
.about-description-list dd {
  line-height: 18px;
}

/* Clients */

.logo-clients {
  opacity: 0.2;
}
.logo-clients:hover {
  opacity: 1;
}
.logo-clients:active {
  opacity: 0.1;
}

/* Footer */

.footer-caption {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-contacts address,
.footer-phone {
  color: var(--grey-800);
  font-style: normal;
  line-height: 18px;
}

.socials-item {
  background-color: var(--grey-400);
}
.footer-slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.footer-text {
  color: var(--grey-900);
}